@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F8F8F8
}

@layer components {
    .site-container {
        @apply xl:max-w-[1230px] lg:max-w-[1180px] md:max-w-[1024px] sm:max-w-[768px] mx-auto w-full px-4 md:px-10;
    }
}

.section-banner {
    background-color: transparent;
    background-image: linear-gradient(180deg, #153048 59%, #F9F9F9 50%);
}


@media only screen and (max-width: 1024) {
    .section-banner {
        background-color: transparent;
        background-image: linear-gradient(180deg, #153048 100%, #F9F9F9 0%)!important;
    }
  }